body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    flex-direction: column;
    background-color: #D5DBDB;
    font-family: 'Lato', sans-serif;

}

/*-HEADER-------------------------------------->*/
header{
  width: 100%;
}
header nav{
  background-color: #F94040;
  font-family: 'Lato', sans-serif;
  height: 70px;
  z-index: 3;
}
.menu_bar{
  display: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav  h1{
  font-size: 45px;
  color: white;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    margin-top: 0;
    text-decoration: none;
    padding: 21px 20px 17px 20px;
    font-size: 18px;
    color: white;
}
nav ul li i{
  position: relative;
  top: 5px;
  margin-right: 1px;
}

nav ul li a:hover{
  background-color: white;
  color: #F94040;
}



/*--MEDIA----------------------------------->*/

@media (max-width: 820px){
  header nav{
    width: 80%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
    display: block;
  }
  header nav ul{
    display: block;
    float: none;
  }
  header nav ul li{
    border-bottom:1px solid rgba(165, 166, 166, .3);
  }
  .menu_bar{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #F94040;
  }
  .menu_bar i{
    color: white;
    font-size: 50px;
  }
  .menu_bar .btn-menu{
    display: flex;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    position: relative;
    left: -10px;
    font-family: lato;
    font-size: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /*
  .img-slider{
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
  */
}
/*
@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){

  .img-slider{
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}
*/
/*--MEDIA----------------------------------->*/