section{
    width: 70%;
    margin: 30px auto;
    display: block;
}

section h1{
    width: 300px;
    text-decoration: underline;
    margin: 10px auto;
}

.info-container{
    width: 100%;
}

.info-container img{
    width: 100%;
}

.info-container h2{
    margin: 9px 20px;
    font-size: 30px;
}


.button-container{
    text-decoration: underline;
    width: 30px;
    margin: 0 auto;
}

.button-container a{
    color: red;
    font-size: 30px;
    padding: 5px 20px;
    border: 3px solid red;
    border-radius: 30%;
}

.button-container a:hover{
    background-color: red;
    color: white;
}

@media (max-width: 420px){
    section{
        width: 280px;
    }
    section h1{
        font-size: 20px;
    }
}