      .perfil-container{
        margin: 15px auto;
        width: 990px;
        height: 1500px;
        display: grid;
        grid-template-columns: 330px 330px 330px;
        grid-template-rows: 300px 300px 300px 300px 300px;
      }
      .portada-container{
        width: 100%;
        height: 500px;
        background-color: darkgreen;
        grid-column:  1/4;
      }
      .portada-container img{
        width: 100%;
        height: 500px;
      }
      .foto-container{
        width: 200px;
        height: 200px;
        grid-column: 2;
        grid-row: 2;
      }
      .foto-container img{
        width: 300px;
        height: 300px;
        margin: 0 20px;
        border-radius: 50%;
      }
      .name-container{
        margin: 0 auto;
        grid-column: 2;
        grid-row: 3;
      }
      .name-container h1{
        margin:0;
        padding: 0px;
      }
      .name-container p{
       margin: 2px; 
      }
      
      .details-container{
        grid-column: 1/2;
        grid-row: 3;
        background-color: cornsilk;
        max-height: 170px;
        max-width: 300px;
        border-radius: 10px;
        margin-top: 80px;
        margin-left: 20px;
        padding-left: 10px;
      }
      .details-container h2{
          margin-bottom: 6px;
      }
      .details-container p{
          margin-top:0px;
          line-height: 30px;
          padding-left: 10px;
      }

      .public-container{
          grid-column: 4/2;
          grid-row: 3/6;
          margin:80px auto;
          width: 600px;
          background-color: aquamarine;
      }

      .friend-container{
        grid-row: 4;
        width: 310px;
        height: 310px;
        margin-top: -30px;
        margin-left: 20px;
        border-radius: 20px;
        background-color: gray;
      }
      .friend-container h2{
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 6px;
        padding: 0px;
      }
      .friend-container .cuadrado-container{
        margin: 0 30px;
        display: grid;
        grid-template-columns: 80px 80px 80px;
        grid-gap: 5px;
      }

      .cuadrado-container .cuadrado{
        background-color: chartreuse;
        width: 80px;
        height: 80px;
      }
      .photos-container{
        grid-row: 5;
        width: 310px;
        height: 310px;
        margin-top: -10px;
        margin-left: 20px;
        border-radius: 20px;
        background-color: gray;
      }
      .photos-container h2{
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 6px;
        padding: 0px;
      }
      .photos-container .cuadrado-container{
        margin: 0 30px;
        display: grid;
        grid-template-columns: 80px 80px 80px;
        grid-gap: 5px;
      }

      .cuadrado-container .cuadrado{
        background-color: chartreuse;
        width: 80px;
        height: 80px;
      }

/*MEDIA*/
@media (max-width: 620px){

  .perfil-container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(20, 105px);
  }
  .portada-container{
    width: 100%;
    height: 300px;
    background-color: darkgreen;
    grid-column:  1/4;
  }
  .portada-container img{
    width: 100%;
    height: 300px;
  }
  .foto-container{
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 2/4;
  }
  .foto-container img{
    width: 200px;
    height: 100%;
    margin: 0 20%;
    border-radius: 10%;
  }
  .name-container{
    margin: 0 auto;
    grid-column: 1/4;
    grid-row: 4;
  }
  
  .details-container{
    grid-column: 1/4;
    grid-row: 5/7;
    background-color: cornsilk;
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 20px;
    padding-left: 10px;
  }
  .public-container{
      grid-column: 1/4;
      grid-row: 13/20;
      margin:80px auto;
      width: 100%;
      height: 100%;
      background-color: aquamarine;
  }

  .friend-container{
    grid-column: 1/4;
    grid-row: 7/9;
    margin-top: 0px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: gray;
  }
  .photos-container{
    grid-row: 10/12;
    width: 310px;
    height: 310px;
    margin-top: 0px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: gray;
  }

}